<html ng-app="MeteoApp">
<head>
	<script src="angular.min.js"></script>
	<script src="popup.js"></script>
	
	<link href="style.css" id="cm-theme" media="screen" rel="stylesheet" type="text/css">
	
</head>
<body ng-controller="MeteoCtrl">
	<main>
	
	<div class="card">
		<p ng-if="prochainePrecipitation.time!=undefined">
			<span class="" ng-repeat="line in resume">
				{{line}}<br/>
			</span>
		</p>
		
		<p ng-if="prochainePrecipitation.time==undefined">
			Pas de pluie prévue dans l'heure ! :)
		</p>

		<p class="grey">
			Mise à jour : {{lastUpdate}}
			<br/>
			Source : Meteo France
		</p>
	</div>
	
	<div class="card">
		<div class="item" ng-repeat="data in datas">
			<div class="color-indicator" style="background-color: #{{data.color}};"></div>
			<div class="detail detail-time">
				+{{datas.indexOf(data)*5+10}}min
			</div>
			<div class="detail detail-text">
			{{data.niveauPluieText}}
			</div>
		</div>
	</div>
	
	</main>
</body>
</html>
