<!DOCTYPE html>
<html ng-app="MeteoApp">
<head>
	<meta charset="UTF-8">
	<script src="angular.min.js"></script>
	<script src="popup.js"></script>
	
	<link href="style.css" id="cm-theme" media="screen" rel="stylesheet" type="text/css">
	
</head>
<body ng-controller="MeteoCtrl">
	<main>
	
	<div class="card card-title">
		<div class="card-child" ng-if="villeLibelle">
			<span class="circle accent-color text-primary-color" ng-click="toggleParam()">i</span>
			<h1>{{villeLibelle}}</h1>
		</div>

		<div class="card-child" ng-if="showParam">
			<input class="material" ng-model="query" ng-change="findTown(query)" placeholder="Entrez une ville...">
		</div>

		<div class="card-child" ng-if="results.length!=0&&showParam">
			<span class="list-hover" ng-repeat="result in results" ng-click="selectTown(result.id, result.nomAffiche)">
					{{result.nomAffiche}}<br/>
			</span>
		</div>
	</div>
	
	<div class="card error" ng-if="error.hasError">
		<div class="card-child">
			Erreur: {{error.message}}
		</div>
	</div>
	
	<div class="card" ng-if="villeLibelle">
		<div class="card-child">
			<p ng-if="prochainePrecipitation.time!=undefined">
				<span class="" ng-repeat="line in resume">
					{{line}}<br/>
				</span>
			</p>
			
			<p ng-if="prochainePrecipitation.time==undefined">
				Pas de pluie prévue dans l'heure !
			</p>

			<p class="grey">
				Mise à jour : {{lastUpdate}}
				<br/>
				Source : Meteo France
			</p>
		</div>
		
		<div class="card-child">
			<div class="item" ng-repeat="data in datas">
				<div class="detail detail-time" style="background-color: #{{data.color}};">
					{{data.heure}}
				</div>
				<div class="detail detail-text">
					{{data.niveauPluieText}}
				</div>
			</div>
		</div>
	</div>
	
	</main>
</body>
</html>